APP_NAME=Easypark_V3
APP_ENV=local
APP_KEY=base64:lJ4aBxfGWfwM9dswZWjBtHgkFRY90bpZPr6LpkPiQgM=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID
APP_TIMEZONE=Asia/Jakarta

BCRYPT_ROUNDS=12

# =============================================================================
# LOG
# =============================================================================
LOG_CHANNEL=stack
LOG_LEVEL=debug

# =============================================================================
# DATABASE
# =============================================================================
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mysql_v3
DB_USERNAME=root
DB_PASSWORD=

# =============================================================================
# SESSION
# =============================================================================
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=false

# =============================================================================
# FILESYSTEM
# =============================================================================
FILESYSTEM_DISK=public

# =============================================================================
# CACHE & QUEUE
# =============================================================================
QUEUE_CONNECTION=database
CACHE_STORE=file

# =============================================================================
# REDIS
# =============================================================================
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# =============================================================================
# MAIL
# =============================================================================
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=code13july@gmail.com
MAIL_PASSWORD=adrcjtxqpnnjimvc
MAIL_ENCRYPTION=tls

MAIL_FROM_ADDRESS=code13july@gmail.com
MAIL_FROM_NAME="EasyPark"

# =============================================================================
# MQTT
# =============================================================================
MQTT_HOST=b5dfe5e09b67412c9016b6d7dc686ece.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_CLIENT_ID=easypark-laravel

MQTT_CLEAN_SESSION=false
MQTT_ENABLE_LOGGING=true
MQTT_AUTO_RECONNECT_ENABLED=true

# AUTH
MQTT_AUTH_USERNAME=Elfbf
MQTT_AUTH_PASSWORD=Chandra13July

# TLS
MQTT_TLS_ENABLED=true
MQTT_TLS_VERIFY_PEER=false
MQTT_TLS_VERIFY_PEER_NAME=false
MQTT_TLS_ALLOW_SELF_SIGNED_CERT=true

# TOPIC
MQTT_TOPIC_PREFIX=easypark/parking/

# =============================================================================
# VITE
# =============================================================================
VITE_APP_NAME="${APP_NAME}"